@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sevillana&display=swap');
body {
    background-color:#151e23 ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 1;

}

h1 {
	 font-family: "Times New Roman" , serif ;
	 font-weight: bold;
	 font-size:3em;
	 text-shadow: 3px 3px 5px  grey;
     font-family: 'Sevillana', cursive;
     color: #ffffff;
	 
 }
 h2 {
     font-family: 'Caveat', cursive;
	 font-weight: bold;
     color: #ffffff;
 }
 
/* .rainbow_text_animated {
    background: linear-gradient(to right, #9400D3, #4B0082, #0000FF, #00FF00, #FFFF00, #FF7F00, #FF0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s linear infinite;
    background-size: 50% 100%;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
} */

h3 {
	color:  #ffffff;
	text-shadow: 2px 2px 3px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold ;
}
/* h3:hover {
    color:mediumspringgreen;
} */

div > p {
    font-family: 'Courgette', cursive;
    font-weight:bold;
    color: #ffffff;
}
.member_info{
    font-family: 'Courgette', cursive;
    font-weight:bold;
    color: #ffffff;
    margin-top: 60px;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;

}

.size_display {
   display: flex;
   justify-content: center;
   font-family: monospace;
  font-weight: bold;
}

#js_timer{
    text-align: center;
}
#timer{
    background: rgba(117, 157, 97,1);
    color: white;
    width: 300px;
    margin:50px auto; 
    border-radius: 10px;
    font-family: serif;
    font-size: 1.2em;
}

.flex-item{
    background:rgb(59, 193, 234);
    border: 1pt solid rgb(167, 30, 123);
    width: 30px;

}


.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    text-align: center;
}
h4{
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
